<div>
  <p>
    <span class="label label-default"><%= results['total_time'].round(2) %>s</span>
    <span class="label label-primary"><%= results['count'] %> tests</span>
    <span class="label label-danger"><%= results['failures'] %> failed</span>
    <span class="label label-warning"><%= results['errors'] %> errors</span>
    <span class="label label-info"><%= results['skips'] %> skipped</span>
  </p>

  <div class="panel-group" role="tablist" id="results" aria-multiselectable="true">
    <% results['results'].each do |res| %>
    <% id = (res['class_name'] + res['name']).gsub(/\W/, '_') %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading-<%=id%>">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#results" href="#collapse-<%=id%>" aria-expanded="false" aria-controls="collapse-<%=id%>">
            <em class="class"><%= res['class_name'].sub('SQRL::Check::Server::', '') %></em>
            <strong class="test"><%= res['name'].sub('test_', '').tr('_', ' ') %></strong>
          </a>
        </h4>
      </div>
      <div id="collapse-<%=id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<%=id%>">
        <div class="panel-body">
          <% res['failures'].each do |test| %>
           <pre class="error"><%= Rack::Utils.escape_html(test['description']) %></pre>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<hr/>
<footer>
  <p>Results are removed after one hour</p>
</footer>
